### I have to clean that dataframe of predictions I made
There was probably a better way to save the predictions.

In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
df = pd.read_csv('../CSVs/test_preds.csv')

In [3]:
df = df.drop('labels', axis = 1)

In [4]:
df.head()

,filename,boxes,scores
0,26dc41664_0_0.tiff,"tensor([[351.8979, 595.6012, 353.0101, 595.978...","tensor([0.1850, 0.0802], device='cuda:0')"
1,26dc41664_0_10576.tiff,"tensor([[ 0.8213, 595.5236, 2.7035, 595.982...","tensor([0.2273, 0.2135], device='cuda:0')"
2,26dc41664_0_11237.tiff,"tensor([[ 6.0920, 595.8847, 10.6282, 595.998...","tensor([0.3000, 0.2998, 0.0830, 0.0738], devic..."
3,26dc41664_0_11898.tiff,"tensor([[ 0.9095, 595.4414, 2.7767, 596.000...","tensor([0.1307, 0.1217], device='cuda:0')"
4,26dc41664_0_12559.tiff,"tensor([[ 2.4880, 595.9504, 4.4031, 596.000...","tensor([0.3689, 0.0760, 0.0659], device='cuda:0')"

In [5]:
df['boxes'] = df['boxes'].map(lambda x:']'.join('['.join(x.split('[')[1:]).split(']')[:-1]).replace(' ', '').replace('\n', ' '))

In [6]:
df['scores'] = df['scores'].map(lambda x: ']'.join('['.join(x.split('[')[1:]).split(']')[:-1]).replace(' ', '').replace('\n', ' '))

In [7]:
df

,filename,boxes,scores
0,26dc41664_0_0.tiff,"[351.8979,595.6012,353.0101,595.9781], [351.42...","0.1850,0.0802"
1,26dc41664_0_10576.tiff,"[0.8213,595.5236,2.7035,595.9822], [3.1453,595...","0.2273,0.2135"
2,26dc41664_0_11237.tiff,"[6.0920,595.8847,10.6282,595.9988], [2.6143,59...","0.3000,0.2998,0.0830,0.0738"
3,26dc41664_0_11898.tiff,"[0.9095,595.4414,2.7767,596.0000], [3.2004,595...","0.1307,0.1217"
4,26dc41664_0_12559.tiff,"[2.4880,595.9504,4.4031,596.0000], [0.8694,595...","0.3689,0.0760,0.0659"
...,...,...,...
3807,c68fe75ea_9218_3110.tiff,"[823.4862,534.6097,982.4601,678.8016], [641.43...","0.9607,0.8904,0.8256,0.6654,0.3460,0.2012,0.16..."
3808,c68fe75ea_9218_4665.tiff,"[417.0461,694.6158,631.2170,835.2570], [997.00...","0.6410,0.4676,0.4649,0.2963,0.1561,0.1510,0.11..."
3809,c68fe75ea_9218_6220.tiff,,
3810,c68fe75ea_9218_7775.tiff,"[273.5630,721.1519,425.2934,832.9785]",0.0634
3811,c68fe75ea_9218_9330.tiff,"[428.8139,720.5917,507.8343,811.3051]",0.1358

In [8]:
df['boxes'][18]

''

In [9]:
l = []
for rows in range(len(df['boxes'])):
    e = df['boxes'][rows]
    if len(df['boxes'][rows]) > 0:
        e = eval(df['boxes'][rows])
    l.append(e)

In [10]:
df['boxes'] = l

In [11]:
l2 = []
for rows in range(len(df['scores'])):
    e = df['scores'][rows]
    if len(df['scores'][rows]) > 0:
        e = eval(df['scores'][rows])
    l2.append(e)

In [12]:
df['scores'] = l2

In [15]:
df['boxes'][1][1]

[3.1453, 595.568, 7.4623, 595.9863]

In [13]:
df.to_csv('../CSVs/preds_clean.csv', index=False)

In [14]:
df

,filename,boxes,scores
0,26dc41664_0_0.tiff,"([351.8979, 595.6012, 353.0101, 595.9781], [35...","(0.185, 0.0802)"
1,26dc41664_0_10576.tiff,"([0.8213, 595.5236, 2.7035, 595.9822], [3.1453...","(0.2273, 0.2135)"
2,26dc41664_0_11237.tiff,"([6.092, 595.8847, 10.6282, 595.9988], [2.6143...","(0.3, 0.2998, 0.083, 0.0738)"
3,26dc41664_0_11898.tiff,"([0.9095, 595.4414, 2.7767, 596.0], [3.2004, 5...","(0.1307, 0.1217)"
4,26dc41664_0_12559.tiff,"([2.488, 595.9504, 4.4031, 596.0], [0.8694, 59...","(0.3689, 0.076, 0.0659)"
...,...,...,...
3807,c68fe75ea_9218_3110.tiff,"([823.4862, 534.6097, 982.4601, 678.8016], [64...","(0.9607, 0.8904, 0.8256, 0.6654, 0.346, 0.2012..."
3808,c68fe75ea_9218_4665.tiff,"([417.0461, 694.6158, 631.217, 835.257], [997....","(0.641, 0.4676, 0.4649, 0.2963, 0.1561, 0.151,..."
3809,c68fe75ea_9218_6220.tiff,,
3810,c68fe75ea_9218_7775.tiff,"[273.563, 721.1519, 425.2934, 832.9785]",0.0634
3811,c68fe75ea_9218_9330.tiff,"[428.8139, 720.5917, 507.8343, 811.3051]",0.1358